
*{
  list-style-type: none;
  margin-left: -5px;
}
  
section, footer, aside, nav, article, figure, figcaption, hgroup{
  display: block;
}

body{
  
  text-align: center;
  width:100%;

  display: -moz-box;
  display: -webkit-box;

  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
}

 h1, h2, h3, h4, h5, h6{
  font-weight: 400  !important;
  line-height: 1.4  !important;
}

li{
  margin-top: 5px;
}

b{
  color:rgb(49, 49, 134)
}



#wrapper{
  max-width:100%;

  display: -moz-box;
  display: -webkit-box;

  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;

  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
}

#header{
  width:100.5%;
  height:85px;
  background-color: rgb(51, 204, 204);

  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: -o-box;

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
}

.menu{
  height:50px;
  width:100%;
}

.siteName{
  padding-left: 2.7em;
}
.siteName h2{
  font-size: 33px;
  color:rgb(27, 69, 254) ; 
  cursor: pointer;
}
.siteName h3{
  font-size: 15px;
}

#loginForm{
  margin-left: auto;
  padding-right: 25px;
  margin-top: 5px;
}

#body{
  display: -moz-box;
  display: -webkit-box;

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;

  margin-top: -10px;
  margin-left: 15px;
}

.menuHeader{
  display: -moz-box;
  display: -webkit-box;

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;

  text-align: center;
}
.menuHeader li:not(:first-child){
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-webkit-flex: 1;
  -o-webkit-flex: 1;

  padding: 9px;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(51, 204, 204);
}
.menuHeader li:hover:not(:first-child) {
  background-color:rgb(51, 204, 204);
  background-size: 100% 100%;
  color:white;
  animation: spring 300ms ease-out;
  font-weight: bold;
}
.menuHeader li:active:not(:first-child) {
  transform: translateY(4px);
}
.menuHeader li:first-child{
  -webkit-box-flex: 3;
  -moz-box-flex: 3;
  -ms-webkit-flex: 3;
  -o-webkit-flex: 3;
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);

    -moz-transform-origin: center center;
    -moz-transform: scale(1.2, 1.1);

    -ms-transform-origin: center center;
    -ms-transform: scale(1.2, 1.1);

    -o-transform-origin: center center;
    -o-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);

    -moz-transform-origin: center center;
    -moz-transform: scale(0.95, 0.95);

    -ms-transform-origin: center center;
    -ms-transform: scale(0.95, 0.95);

    -o-transform-origin: center center;
    -o-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);

    -moz-transform-origin: center center;
    -moz-transform: scale(1.05, 1);

    -ms-transform-origin: center center;
    -ms-transform: scale(1.05, 1);

    -o-transform-origin: center center;
    -o-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);

    -moz-transform-origin: center center;
    -moz-transform: scale(1, 1);

    -ms-transform-origin: center center;
    -ms-transform: scale(1, 1);

    -o-transform-origin: center center;
    -o-transform: scale(1, 1);
  }
}

#leftMenu{
  height: auto;
  padding: 20px;
  margin-top: 50px;

  display: -moz-box;
  display: -webkit-box;

  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
}
#leftMenu nav ul {
  list-style-type: none;
  padding: 0;
}
#leftMenu nav ul li {
  border-radius: 10px;
  font-size: larger;
  font-family: sans-serif;
  border: 2px solid rgb(51, 204, 204);
  letter-spacing: 0.1em;
  width: 8.5em;
  height: 1.6em;
  line-height: 1.5em;
  position: relative;
  overflow: hidden;
  margin: 0.7em;
  cursor: pointer;
  padding-left: 0.5em;
}
#leftMenu nav ul li span {
  padding-left: 12px;
  color: rgb(51, 204, 204);
  mix-blend-mode: difference;
  text-align:end
}
#leftMenu nav ul li::before {
  content: '';
  position: absolute;
  width: 1.5em;
  height: inherit;
  background-color: rgb(68, 221, 221);
  border-radius: 50%;
  top: 0;
  left: -0.75em;
  transition: 0.3s ease-out;
}
#leftMenu nav ul li:hover{
  animation: spring 300ms ease-out;
}
#leftMenu nav ul li:hover::before {
  transform: scale(7);
}
#rightMenu{
  margin-left: 35px;
  margin-top: 45px;
}
#rightMenu li {
	font-size: 20px;
	font-family: serif;
  letter-spacing: 0.1em;
  margin: 0.4em;
  cursor: pointer;
  margin-left:18px;
  color:rgb(68, 221, 221);
}
#rightMenu li:hover{
  border-bottom:1px solid rgb(68, 221, 221);
}
#rigthMenu h2{
  padding-left: -50px;
}

.content{
  margin-top:60px;
  width:67%;
  min-width:210px;
 }

.language{
  display: table-cell;

  padding-bottom: 0px;

  display: -moz-box;
  display: -webkit-box;

  -moz-box-pack: start;
  -webkit-box-pack: start;
  -ms-box-pack: start;
  -o-box-pack: start;

  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -o-box-orient: horizontal;
}
.language ul{
  padding: 0px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.language li{
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(51, 204, 204);
  margin: auto;
  justify-content: space-between;
}
.language li:hover {
  border:1px solid rgb(51, 204, 204);
  animation: spring 300ms ease-out;
  font-weight: bold;
}
.language li:active {
  transform: translateY(6px);
}
